
@{
    ViewBag.Title = "Index";
}
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
<h2>Index</h2>
@using (Ajax.BeginForm("Login", new AjaxOptions {HttpMethod="Post",InsertionMode=InsertionMode.InsertAfter,UpdateTargetId="a" }))
{


    <input type="submit" value="Done" />

}


<div id="a"></div>